.article-header {
    padding: 16px;
    background-color: #e6f7ff;
    border: 2px solid #91d5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark);
}

#overdue-warning {
    margin-top: 8px;
    padding: 8px;
    background-color: #fff1f0;
    border: 2px solid #ffa39e;
    font-size: 16px;
    display: none;
}

.article-title {
    font-size: 32px;
    line-height: 48px;
}

.article-info {
    line-height: 24px;
}

.article-container {
    display: flex;
    flex-direction: column-reverse;
}

.article-nav {
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 16px;
    box-sizing: border-box;
    border: 2px var(--color-gray) solid;
    padding: 8px;
    display: none;
}

@media screen and (min-width: 768px) {
    .article-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .article-nav {
        width: 200px;
        margin-left: 16px;
    }
}

div.highlighter-rouge {
    border: 2px var(--color-gray) solid;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0 1em;
    overflow-x: auto;
}

code.highlighter-rouge {
    background-color: var(--color-light);
    border: 1px var(--color-gainsboro) solid;
    border-radius: 2px;
    padding: 0 2px;
}

@media (prefers-color-scheme: dark) {
    code.highlighter-rouge {
        background-color: var(--color-gray);
    }
}

#toc {
    margin-top: 8px;
}

.toc-item {
    margin-bottom: 4px;
    display: list-item;
}

.toc-item:last-child {
    margin-bottom: 0;
}

.toc-item span {
    cursor: pointer;
}

@media (any-hover: hover) {
    .toc-item span:hover {
        font-weight: bold;
    }
}

.toc-item::marker {
    color: var(--color-gray);
}

.toc-h1 {
    margin-left: 12px;
}
.toc-h1::marker {
    content: ">";
}
.toc-h2 {
    margin-left: 24px;
}
.toc-h2::marker {
    content: " >";
}
.toc-h3 {
    margin-left: 36px;
}
.toc-h3::marker {
    content: "  >";
}
.toc-h4 {
    margin-left: 48px;
}
.toc-h4::marker {
    content: "   >";
}
.toc-h5 {
    margin-left: 60px;
}
.toc-h5::marker {
    content: "    >";
}
.toc-h6 {
    margin-left: 72px;
}
.toc-h6::marker {
    content: "     >";
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    font-size: 32px;
    font-weight: normal;
}

.article-content h1::before,
.article-content h2::before,
.article-content h3::before,
.article-content h4::before,
.article-content h5::before,
.article-content h6::before {
    color: var(--color-gray);
}

.article-content h1::before {
    content: "#";
}
.article-content h2::before {
    content: "##";
}
.article-content h3::before {
    content: "###";
}
.article-content h4::before {
    content: "####";
}
.article-content h5::before {
    content: "#####";
}
.article-content h6::before {
    content: "######";
}