:root {
    --color-purple: MediumPurple;
    --color-dark-blue: darkslateblue;
    --color-white: white;
    --color-light: #f0f0f0;
    --color-gainsboro: gainsboro;
    --color-gray: gray;
    --color-dark: #333333;
}

:root {
    --text-color: var(--color-dark);
    --background-color: var(--color-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--color-light);
        --background-color: var(--color-dark);
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "YouYuan";
}

.header {
    background-color: var(--color-dark-blue);
    color: var(--color-gainsboro);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    margin-right: 16px;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.header-nav a {
    font-weight: bold;
    color: var(--color-gainsboro);
    margin-right: 8px;
}

.header-nav a:last-child {
    margin-right: 0;
}

.main-container {
    flex-grow: 1;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 16px;
}

.footer {
    background-color: var(--color-dark-blue);
    color: var(--color-gainsboro);
    width: 100%;
}

.footer-container {
    flex-direction: row;
    padding: 4px;
    line-height: 1rem;
    text-align: center;
}

.header-container, .main-container, .footer-container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 576px) {
    .header-container, .main-container, .footer-container {
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .header-container, .main-container, .footer-container {
        width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .header-container, .main-container, .footer-container {
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .header-container, .main-container, .footer-container {
        width: 1140px;
    }
}
