---
layout: default
title: 文章列表-GG空间
css_file: homepage.css
---
<div class="homepage">
    <div class="main-content">
        <h1>文章列表</h1>
        {% for category in site.categories %}
        {% if category[0] == 'article' %}
        <ul>
            {% for post in category[1] %}
            <div class="post-item">
                <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    {{ post.date | date_to_string }}
                </li>
                <span>{{ post.excerpt | strip_html }}</span>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    <!-- <div class="side-nav">
        <div class="category-container">
            <h2>分类标签</h2>
            <ul>
                {% for tag in site.tags %}
                <li>
                    <a href="#">{{ tag[0] }}</a>({{tag[1].size}})
                </li>
                {% endfor %}
            </ul>
        </div>
    </div> -->
</div>