---
layout: default
title: 随想-GG空间
css_file: homepage.css
---
<div class="homepage">
    <div class="main-content">
        <h1>随想</h1>
        {% for category in site.categories %}
        {% if category[0] == 'thinking' %}
        <ul>
            {% for post in category[1] %}
            <li>{{ post.date | date_to_string }}
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            <span>{{ post.excerpt | strip_html }}</span>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>