<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    {% if layout.css_file %}
    <link rel="stylesheet" type="text/css" href="/css/{{ layout.css_file }}">
    {% endif %}
    {% if page.css_file %}
    <link rel="stylesheet" type="text/css" href="/css/{{ page.css_file }}">
    {% endif %}
</head>

<body>
    <header class="header">
        <div class="header-container">
            <span class="header-logo">GG空间</span>
            <nav class="header-nav">
                <a href="/">文章</a>
                <a href="/thinkings.html">随想</a>
            </nav>
        </div>
    </header>
    <main class="main-container">
        {{ content }}
    </main>
    <footer class="footer">
        <div class="footer-container">
            @supergem3000
        </div>
    </footer>
    {% if layout.js_file %}
    <script type="text/javascript" src="/js/{{ layout.js_file }}"></script>
    {% endif %}
    {% if page.js_file %}
    <script type="text/javascript" src="/js/{{ page.js_file }}"></script>
    {% endif %}
</body>

</html>