<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">

    {% if layout.css_files %}
    {% for css_file in layout.css_files %}
    <link rel="stylesheet" type="text/css" href="/css/{{ css_file }}">
    {% endfor %}
    {% endif %}

    {% if page.css_files %}
    {% for css_file in page.css_files %}
    <link rel="stylesheet" type="text/css" href="/css/{{ css_file }}">
    {% endfor %}
    {% endif %}
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="header-lf">
                <span class="header-logo" id="i18n-g-space">GG空间</span>
                <nav class="header-nav">
                    <a href="/" id="i18n-articles">文章</a>
                    <a href="/thinkings.html" id="i18n-thinkings">随想</a>
                </nav>
            </div>
            <div class="header-rt header-lang-select">
                <span class="current-lang" id="i18n-lang-display">简体中文</span>
                <div class="all-lang" id="i18n-lang-select">
                    <div class="all-lang-corner-border"></div>
                    <div class="all-lang-corner-in"></div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-container">
        {{ layout.css_file }}
        {{ content }}
    </main>
    <footer class="footer">
        <div class="footer-container">
            @supergem3000
        </div>
    </footer>

    {% if layout.js_files %}
    {% for js_file in layout.js_files %}
    <script type="text/javascript" src="/js/{{ js_file }}"></script>
    {% endfor %}
    {% endif %}

    {% if page.js_files %}
    {% for js_file in layout.js_files %}
    <script type="text/javascript" src="/js/{{ js_file }}"></script>
    {% endfor %}
    {% endif %}

    <script type="text/javascript" src="/js/i18n.js"></script>
</body>

</html>