<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <style>
        
    </style>
</head>

<body>
    <header class="header">
        <span class="header-logo">GG空间</span>
        <nav class="header-nav">
            <a href="#">文章</a>
            <a href="#">想法</a>
        </nav>
    </header>
    <main class="main">
        {{ content }}
    </main>
    <footer class="footer">
        @supergem3000
    </footer>
</body>

</html>