---
layout: default
css_files:
    - article.css
    - syntax.css
js_files:
    - article.js
---
<div class="article">
    <div class="article-header">
        <div class="article-title">
            {{ page.title }}
        </div>
        <div class="article-info" id="article-info">
            {{ page.date }}
        </div>
    </div>
    <div id="overdue-warning">
        <span id="i18n-overdue-warning-p1">本篇文章发布于</span>
        <span id="overdue-warning-day-num">0</span>
        <span id="i18n-overdue-warning-p2">天前，其内容可能已经过期。请自行判别。</span>
    </div>
    <div class="article-container">
        <div class="article-content" id="article-content">
            {{ content }}
        </div>
        <div class="article-nav" id="article-nav">
            <b id="i18n-catalog">目录</b>
            <div id="toc"></div>
        </div>
    </div>
</div>